@import "tailwindcss";

@theme {
  --color-primary: #091413;
  --color-secondary: #285A48;
  --color-accent: #5DD3B6;
  --color-soft: #B0E4CC;
  --color-cream: #EFE1B5;
}

@theme {
  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  --animate-fadeIn: fadeIn 0.5s ease-in-out;
}